version: 2
updates:
 
  - package-ecosystem: "npm"
    directory: "/"        
    schedule:
      interval: "weekly"     
    open-pull-requests-limit: 10
    commit-message:
      prefix: "deps"
      include: "scope"
    rebase-strategy: "auto"

 
    groups:
      all-minor-and-patch:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"
