/* General container*/
.main-page {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    background-image: url('../img/razor.png');
    background-size: cover; 
    background-repeat: no-repeat;
    flex-grow: 1;
    }
    
    /* Page title */
    .main-page-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
    }
    
    /* Service container */
    .services-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    }
    
    /* Service card */
    .service-card {
    width: 300px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
     padding: 15px;
     transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    
    .service-card:hover {
     transform: translateY(-5px);
     box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }
    
    /* Service image */
    
    /* Service title */
    .service-title {
     font-size: 2rem;
     margin: 10px 0;
     color: #555;
    }
    
    /* View button */
    .view-button {
     background-color: #007bff;
     color: #fff;
     border: none;
     border-radius: 2px;
     padding: 2px;
     cursor: pointer;
     transition: background-color 0.3s ease;
    }
    
    .view-button:hover {
     background-color: #0056b3;
    }
    .input-container {
  margin-top: 10px;
}

input {
  padding: 8px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 15px;
  border: none;
  background-color: #0077cc;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #005fa3;
}

li {
  list-style: none;
  margin: 5px 0;
  padding: 5px;
  border: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
} 
/*  */

.buttons-container {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.add-button,
.edit-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.1rem;
}

.add-button:hover,
.edit-button:hover {
  background-color: #218838;
}

.add-button {
  background-color: #007bff;
}

.add-button:hover {
  background-color: #0056b3;
}
